#top {
  background-image: linear-gradient(
    to right,
    rgba(1, 22, 93, 0.897),
    rgba(1, 22, 93, 0.897)
  );  
  height: 11.1vh;
}

#logo {
  margin-top: 3vh;
  padding-left: 0vh;
}

#topMessage{
  text-align: center;
  color: #f2f2f2;
  padding-top: 3.7vh;
  padding-right: 20%;
}

