#top {
  background-image: linear-gradient(to right, rgba(38, 14, 104, 0.897), rgba(50, 18, 138, 0.822));
  height: 11.1vh;
}

#logo {
  margin-top: 2vh;
  padding-left: 0vh;
}

#topMessage{
  text-align: center;
  color: #f2f2f2;
  padding-top: 1.5%;
  padding-right: 20%;
}

.anchini {
  width: 60%;
}