.songsColumn {
    background-image: linear-gradient(to right, rgba(38, 14, 104, 0.596), rgba(61, 14, 104, 0.493));
}

.columnInfo {
    margin-top: 70px;
}

.title {
    color: #f2f2f2;
    text-align: left;
}

.songInfo {
    color: #f2f2f2;
    text-align: left;
    margin-left: 16px;
}
