.col-12 {
  background-image: linear-gradient(
    to right,
    rgba(1, 22, 93, 0.897),
    rgba(1, 23, 93, 0.835),
    rgba(1, 23, 93, 0.808),
    rgba(1, 23, 93, 0.788),
    rgba(1, 23, 93, 0.733),
    rgba(1, 23, 93, 0.712),
    rgba(1, 23, 93, 0.651)
  );  
  color: azure;
  height: 13vh;
}

.my-icon {
  font-size: 40px;
}

.progress {
  width: 50%;
}

.progress-bar {
  width: 80%;
  background-color: rgba(18, 90, 16, 0.692);
}

#mini-img{
  margin-top: 2.5vh;
  border-radius: 1.3vh; 
  margin-left: 2vh;
}

.mini-song{
  margin-top: 3vh;
  margin-left: 1vh;
  font-weight: 550;
}

.mini-arts{
  font-size: 1.2vh;
  margin-left: 1vh;
}

.player{
  margin-top: 1.5vh;
}

#vbar{
  margin-top: 8vh;
}

.vol{
  margin-top: 6vh;
}