.artistImage {
    margin-top: 8vh;
    margin-left: 3vh;  
}

.artistName {
    text-align: center;
    color: #f2f2f2; 
    font-size: 20px;
    margin-top: 3vh;
}

.albumName {
    text-align: center;
    margin-left: 1px;
    font-size: 15px;
    margin-top: .6vh; 
    margin-bottom: 1.8vh;
    color: #f2f2f2;  
}

.songsNumber {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2vh;
    color: #f2f2f2;
}

.playButton {
    background-color: rgba(154, 243, 154, 0.808);
    border-radius: 40px;
    border: none;
    color: #f2f2f2;
    text-align: center;
    font-size: 15px;
    padding: 2.3vh 4vh;
    margin-left: 5vh;
    margin-top: 4vh;
}

.followButton {
    background-color: rgba(38, 14, 104, 0.212);
    border: none;
    color: #f2f2f2;
    border-radius: 20px;
    margin-left: 5vh;
    margin-top: 9vh;
    padding: 1vh 4vh;
}