.putada {
  list-style-type: none;
  padding: 0;
  color: white;
}

hr {
  background: #f2f2f2;
}

#picture {
  width: 40px;
  border-radius: 10px;
  height: 7vh;
}

#user-name {
  color: #f2f2f2;
}

#search {
  padding-top: 2.5vh;
  line-height: 4vh;
  font-size: 20px;
}

#browse {
  height: 8vh;
  font-size: 20px;
}

#your {
  font-size: 20px;
}

#recent {
  font-size: 10px;
  height: 4vh;
}

#discover{
  font-size: 20px;
}

#playlist {
  font-size: 10px;
  height: 22.5vh;
}